/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  margin: 0 auto;
  padding: 0px 0 0;
  text-align: center;
  background: #F6F6F6;
  color: #515151;
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}

/* ここからCSS */

header {
  border-top: solid 8px #6CC6C4;
}

.header-top {
  width: 923px;
  height: 134px;
  margin: auto;  
}

.title {
  float: left;
  margin-top: 58px;
}

.header-text {
  width: 225px;
  float: right;
  display: inline-block;
  margin-top: 20px;
}

.theme-text {
  font-size: 10px;
}

.phone-number {
  font-size: 25px;
  padding-top: 25px;
}

.time {
  font-size: 10px;
  border: 1px solid #d6d6d6;
  padding: 11px 19px;
  margin-top: 13px;
}

.time span {
  color: #b22c00;
}

/* ここまでヘッダー */

.header-menu {
  margin-top: 20px;
  width: 919px;
  height: 70px;
  margin: 20px auto;
}

.header-menu ul {
  display: inline-flex;
}

.header-menu ul li {
  width: 183px;
  height: 55px;
  padding-top: 17px;
  background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
  border-left: #99E1DF solid 1px;;
  border-right: #71C9C7 solid 1px;;
  list-style: none;
  position: relative;
}

.header-menu ul li:hover {
  background-image: linear-gradient(rgb(108,198,196) 0%,rgb(156,227,225) 100%);
}

.header-menu ul li a {
  text-decoration: none;
  display: block;
  color: white;
  text-shadow:1px 1px 2px #6CC6C4;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.header-menu ul .first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-menu h1 {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 17px;
}

.header-menu p {
  font-size: 10px;
  font-weight: 700;
}

.header-menu ul .last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ここまでヘッダーメニュー */

main {
  width: 1200px;
  height: 765px;
}

.menu {
  width: 261px;
  height: 482px;
  margin-left: 173px;
  float: left;
}

.menu-title1 {
  margin-bottom: 20px;
}

.menu-title1 h2 {
  background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 42px;
  text-align: left;
  line-height: 40px;
  padding-left: 16px;
  color: white;
  text-shadow:1px 1px 2px #6CC6C4;
}

.menu-title1 ul {
  background-color: #ffffff;
  border: 1px solid #6CC6C4;;
  padding-bottom: 16px;
}

.menu-title1 ul li {
  width: 230px;
  height: 43px;
  list-style: none;
  background: url(bgListIcon01.png) center left ;
  background-repeat: no-repeat;
  border-bottom: 1px solid #6CC6C4;
  margin-left: 10px;
  position: relative;
  text-align: left;
}

.menu-title1 ul li a {
  text-decoration: none;
  color: #595959;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  margin-left: 20px;
  padding-top: 14px;
}

.menu-title1 ul li a:hover {
  color: #6CC6C4;
}

/* ここまでサイドメニュー1 */


.menu-title2 h2 {
  background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 42px;
  text-align: left;
  line-height: 40px;
  padding-left: 16px;
  color: white;
  text-shadow:1px 1px 2px #6CC6C4;
}

.menu-title2 ul {
  background-color: #ffffff;
  border: 1px solid #6CC6C4;;
  padding-bottom: 16px;
}

.menu-title2 ul li {
  width: 230px;
  height: 43px;
  list-style: none;
  background: url(bgListIcon01.png) center left ;
  background-repeat: no-repeat;
  border-bottom: 1px solid #6CC6C4;
  margin-left: 10px;
  position: relative;
  text-align: left;
}

.menu-title2 ul li a {
  text-decoration: none;
  color: #595959;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  margin-left: 20px;
  padding-top: 14px;
}

.menu-title2 ul li a:hover {
  color: #6CC6C4;
}

/* ここまでサイドメニュー2 */

.container {
  width: 640px;
  height: 700px;
  float: right;
  margin-right: 108px;
}

.in01 {
  margin-bottom: 10px;
}

.main-text {
  background-color: #ffffff;
  height: 412px;
  margin-bottom: 22px;
  padding: 20px;
}

.main-title {
  text-align: left;
  padding: 20px 0;
  border-bottom: 2px
  solid #6CC6C4;
  margin-bottom: 5px;
}

.sentence {
  padding: 15px;
}

time {
  float: left;
  font-size: 13px;
  font-weight: 700;
  color: #515151;
  padding-top: 5px;
}

.sentence-box {
  margin: 15px 0;
  border-bottom: 1px #CCCCCC dotted;
}

.sentence p {
  font-size: 13px;
  padding: 0 10px 10px 11em;
  text-align: left;
  line-height: 20px;
}

/* ここまでメインコンテンツ */

footer {
  width: 923px;
  margin: 0 auto;
}

.main-under {
  width: 923px;
  margin: 0 auto;
  border-bottom: 2px solid #6CC6C4;
  margin-bottom: 17px;
}

.under-list ul {
  display: flex;
  flex-direction: row;
  border: #6CC6C4;
  background-color: #6CC6C4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px;
}

.under-list ul li {
  list-style: none;
  background: url(bgFooterIcon.png) left center no-repeat;
}

.under-list ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  margin-left: 25px;
  margin-right: 15px;
}

.under-list ul li a:hover {
  border-bottom: 1px solid #ffffff;
}

.under-text {
  margin: 15px 0;
  text-align: right;
  font-size: 13px;
}

.under-text span {
  font-weight: 700;
}

.last-text {
  margin-bottom: 20px;
}

.last-text p {
  font-size: 12px;
}

/* ここまでフッダー */